@charset "UTF-8";
*, *::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face
{
    font-family: 'IDroid';
    src: url('pacote-projeto-d010/fontes/idroid/IDroid.otf') format('opentype');
}
html, body 
{
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
body
{
    background: #9BB5E8;  
}
header
{
    background: linear-gradient(0deg,#185feef5 20%, #3e76e6 60%, #4a7ad8 95%);
    max-width: 100%;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1
{
    color: rgb(255, 253, 253);
    font-size: clamp(3rem, 4vw, 3rem);
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.199);
    font-weight: normal;
}
header > p
{
    color: rgba(255, 255, 255, 0.822);
    font-size: 1.2em;
    margin: auto;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}
.geral h1
{
    
    font-size: clamp(1.5rem, 4vw, 2rem);
    text-align: left;
    font-family: 'IDroid';
    padding: 10px;
    color: #2d6dee ;
    font-weight: normal;
}
.geral h2
{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-align: left;
    margin: 10px;
    font-family: 'IDroid';
    padding: 5px 0px 5px 5px;
    background: #9BB5E8;
    background: linear-gradient(90deg, rgba(155, 181, 232, 1) 0%, rgba(240, 255, 255, 1) 90%);
    color: #2d6dee ;
    font-weight: normal;
    
}
nav
{
    background-color: #1a60ee;
    border-radius: 5px;
    padding: 0px;
}

nav ul
{
    list-style: none;
    display: flex;
    padding-top: 20px ;
    padding-left: 20px;
    padding-bottom: 5px;
    
}
nav a
{
    text-decoration: none;
    color: rgb(226, 226, 221);
    margin-right : 20px;
    font-weight: bold;
    border-radius: 5px;
   
}
nav a:hover
{
    background-color: rgba(248, 248, 248, 0.712);
    color: #185feef5;
    padding: 9px;
    box-shadow: 30px;
    transition: color 0.3s;

}
.geral
{
    background-color: rgb(240, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.322);
}
.geral a
{
    
    text-decoration: none;
    font-weight: bold;
    color: #185feef5;
    padding: 2px 6px;
}
.geral a:hover
{
    text-decoration: underline;
    color: #185feebb;;
}
.externo::after
{
    content: '\00A0\1F517';
}
.aprender 
{
    
    margin-left: 20px;
    margin-right: 20px;
    background: #5f90eb33;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 6px 6px;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.247);    
}
.aprender h3
{
    
    max-width: 100% ;
    color: aliceblue;
    background-color: #5b86dd;
    padding: 8px;
    border-radius: 6px 6px 0px 0px;     
}
.listas
{
   
   display: flex;
   flex-wrap: wrap;
   gap: 0px;
   justify-content: center;
   max-width: 1000px;
      
}
.listas li
{
    display: flex;
    align-items: flex-start;
    flex: 1 1 50%;
    padding: 2px 2px 5px 30px;
    list-style-position: inside ;
    list-style: none;
   
}
.listas li::before
{
    content: "✔";
    margin-right: 8px;
}
footer
{
    background-color: #185feef5 ;
    max-width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
}
.rodape a
{
    color: white;
    text-decoration: none;
}
.versao p, .aprender p, .historia p, .mascote p, .atelogo
{
    padding: 15px 15px 5px 15px;
    text-indent: 30px;
    text-align: left;
    line-height: 2em;

}
.dan-droids,.dan-droids img, .irina-blok, .irina-blok img, .bugdroid
{
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 100%;
    height: auto;

}
#android 
{
    position: relative;
    padding-bottom: 56.25%; /* proporção 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    background: #042464 ;  
}
#android iframe
{
    position: absolute;  
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    border: 0;
    box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.253);
    max-width: 100%;   
}


